* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* display: inline-block; [Redundant] */
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}

.nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.nav ul {
    list-style-type: none;
}

.nav ul li {
    display: inline-block;
    /*margin-left: 25px; [Overridden by .nav properties]*/
}

/* I wanted to be a little more specific here unless we ended up wanting different properties on other 'a' tags further on down the line */
.nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

/* The default pixel font size for 'p' in browsers is already 16px 
p {
    font-size: 16px;
}*/

/* I would like to try and move this image into HTML but am not sure how */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both; /* I'm not sure what 'clear: both' is accomplishing here */
    float: right;
    width: 20%;
    height: 100%; /* I'm not sure what 'height: 100%' is accomplishing here */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* Consolidated class tags with identical properties and moved "color" up into .benefits */
.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
   
}

/* Consolidated class tags with identical properties */
.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Consolidated class tags with identical properties */
.benefit-lead img,
.benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Consolidated class tags with identical properties */
.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Consolidated class tags with identical properties */
.search-engine-optimization img,
.online-reputation-management img, 
.social-media-marketing img {
    max-height: 200px;
}

/* Consolidated class tags with identical properties */
.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
